@model IEnumerable<FilmKveldApp.Models.Filmer>

@{
    ViewBag.Title = "Vis alle filmer";
}

<h2>Her er alle våre filmer</h2>
<p>Antall filmer i DB nå: @Model.Count()</p>
    

@foreach (var filmer in Model)
{
    <article>
        <h3>@filmer.Tittel</h3>
        <img src="~/Bilder/@filmer.Bilde" alt="@filmer.Tittel" />
        <h3>@filmer.Utgivelsesaar</h3>
        <h4>@filmer.Beskrivelse</h4>
    </article>
}

